body
  background: rgba(127, 140, 141, 1.0)
  position: absolute
  margin: 0
  padding: 0
  top: 0
  left: 0
  bottom: 0
  right: 0
  overflow: hidden
.workbook-component,
.workbook-controller,
.file-selector-component,
.viewer-area,
.workbook-area,
.sheet-area,
.marker-area,
.markers,
.marker
  left: 0
  top: 0
  position: absolute

.sheet-area
  background: rgba(46, 204, 113, 0.2)
  overflow: hidden
  .marker
    background: rgba(0, 0, 0, 1)

.marker
  background: rgba(231, 76, 60, 0.2)

.workbook-component
  top: 0
  left: 0
  bottom: 0
  right: 0

.file-selector-component
  top: 0
  left: 200px
  width: 100%
  height: 40px
  overflow: hidden
  background: rgba(236, 240, 241, 1.0)
  z-index: 200

.workbook-controller
  width: 200px
  top: 0
  bottom: 0
  background: rgba(236, 240, 241, 1.0)
  z-index: 100